/* General styles */
/* Headers */
h1{
    font-size: 2em;
    color: #439b52;
  }

  h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
  }
  /* Navigation */
  /* Main content. Firing off CLasses and ids as they come down the html! */
#red{
    color: white;
    background-color: red;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
#green{
    color: white;
    background-color: green;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
#blue{
    color: white;
    background-color: blue;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    border: 2px solid #333;
  }
#yellow{
    color: black;
    background-color: yellow;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
#orange{
    color: white;
    background-color: orange;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
.colors {
    display: inline-flex;
    justify-content: space-around;
    margin: 20px 0;
    border: #333 solid 2px;
    padding: 10px;
}  
.color-usage {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border: #333 solid 2px;
}
p  {
    font-family: monospace, sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
    padding: 10px;
    border: #333 solid 2px;
}
.display-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
    border: #333 solid 2px;
    padding: 10px;
}
.display-flex {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    border: #333 solid 2px;
    padding: 10px;
}
.display-inline {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border: #333 solid 2px;
}
.display-table {
    display: table;
    width: 25%;
    margin: 20px 0;
    border: #333 solid 2px;
    padding: 10px;
    border-radius: 5px;
}
.th,td {
    display: table-cell;
    padding: 50px;
    border: #333 solid 2px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.display-video {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 50px;
}
.display-audio {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 50px;
}
#arial {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
}
#times {
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
    color: #333;
}
#verdana {
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    color: #333;
}
#twelve {
    font-size: 12px;
    color: #333;
}
#sixteen {
    font-size: 16px;
    color: #333;
}
#twenty {
    font-size: 20px;
    color: #333;
}
#italic {
    font-style: italic;
    color: #333;
}
#bold {
    font-weight: 600;
    color: #333;
}
#bolder {
    font-weight: 900;
    color: #333;
}
#underline {
    text-decoration: underline;
    color: #333;
}
#line-through {
    text-decoration: line-through;
    color: #333;
}

/* Footer */
.footer p {
    border: none;
    background-color: #ffffff;
    color: rgb(255, 188, 4);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}